<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.EnterRoomMapper">
  <update id="updateNtoYStat" parameterType="java.util.HashMap">
  	update ext_info set open_yn_stus='y' where ext_id=#{ext_id} and user_id=#{user_id}
  </update>
  <update id="updateYtoNStat" parameterType="java.util.HashMap">
  	update ext_info set open_yn_stus='n' where ext_id=#{ext_id} and user_id=#{user_id}
  </update>
  <select id="selectGrade" resultType="String">
  	select user_grade from user_info where user_id=#{user_id}
  </select>
  <select id="selectOpenStat" resultType="String">
  	select open_yn_stus from ext_info where ext_id=#{ext_id}
  </select>
</mapper>