<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjc.wdb.Highlighter.jinResultMapper">
	
	
	
	<insert id="createResult">
	insert into jindan_result (ext_id, user_id,jindan_result, eval_code) values (#{ext_id},#{user_id}, #{jindan_result}, #{eval_code}) 
	</insert> 
</mapper>