<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjc.wdb.Highlighter.MatchingMapper">

<!-- 회원이 현재 수강 중인 모든 강의 시간표  -->
<select id="studentTimetable" resultMap="studentTimetableMap">
<![CDATA[
select group_concat(distinct(day_week)) day_weeks, 
concat(group_concat(distinct(class_str_time)), ',') AS class_str_time, 
concat(group_concat(distinct(class_end_time)), ',') AS class_end_time
from ext_timetable
where ext_id in (
				select ext_id
				from app_class
				where user_id = #{user_id} and reg_stus = '결제완료')
and decide_yn = 'y'
group by day_week
]]>
</select>
<!-- 회원이 현재 수강 중인 모든 강의 시간표  : Map -->
<resultMap id="studentTimetableMap" type="java.util.HashMap">
	<result property="day_weeks" column="day_weeks"></result>
	<result property="class_str_time" column="class_str_time"></result>
	<result property="class_end_time" column="class_end_time"></result>
</resultMap>

<!-- 현재 모집 중인 강의 시간표 -->
<select id="privateTimetable" resultMap="privateTimetableMap">
<![CDATA[
select ext_id, group_concat(distinct(day_week)) AS day_weeks, 
group_concat(distinct(class_str_time)) AS class_str_time, 
group_concat(distinct(class_end_time)) AS class_end_time
from ext_timetable
where ext_id in (select ext_id
from ext_info
where end_rc_date >= now())
group by ext_id, day_week
]]>
</select>

<!-- 현재 모집 중인 강의 시간표 : Map -->
<resultMap id="privateTimetableMap" type="java.util.HashMap">
	<result property="ext_id" column="ext_id"></result>
	<result property="day_weeks" column="day_weeks"></result>
	<result property="class_str_time" column="class_str_time"></result>
	<result property="class_end_time" column="class_end_time"></result>
</resultMap>

<!-- 겹치는 시간표 제외한 과외 LIST  -->
<select id="removedList" resultMap="removedListMap" >
<![CDATA[
select substr(e.ext_id,1,1) AS onoff, substr(e.ext_id,2,1) AS pg, substr(e.ext_id,3,2) AS subject,
e.*, u.college, u.ext_exp, u.gender, u.mark, u.user_name, u.prof_photo
from ext_info e, user_info u
where e.ext_id not in  
]]>
	<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
    	#{item}
	</foreach>
<![CDATA[
and e.end_rc_date >= now()
and e.user_id = u.user_id
]]>
</select>

<!-- 겹치는 시간표 제외한 과외 LIST : Map -->
<resultMap id="removedListMap" type="java.util.HashMap">
	<result property="ext_id" column="ext_id"></result>
	<result property="college" column="college"></result>
	<result property="ext_exp" column="ext_exp"></result>
	<result property="gender" column="gender"></result>
	<result property="mark" column="mark"></result>
	<result property="extCount" column="extCount"></result>
	<result property="onoff" column="onoff"></result>
	<result property="pg" column="pg"></result>
	<result property="subject" column="subject"></result>
	<result property="prof_photo" column="prof_photo"></result>
</resultMap>

<select id="userSearchLogCount" resultType="int">
select count(*)
from user_searchlog
where user_id = #{user_id}
</select>

<!-- 유저 검색 기록  -->
<select id="userSearchLog" resultType="user_SearchLogVO">
select *
from user_searchlog
where user_id = #{user_id}
</select>

<!-- 자격증 및  경력 여부 체크 -->
<select id="carrerYN" resultType="int">
select count(carrer_id) 
from carrer c, ext_info e
where c.user_id = e.user_id
and e.ext_id = #{ext_id}
</select>

<select id="userExtLog" resultType="ext_InfoVO">
select e.*
from ext_info e, user_info u
where e.ext_id in (select ext_id from
						app_class
						where user_id = #{user_id})
and e.user_id = u.user_id
</select>

<!-- 진단 평가 작성 여부 -->
<select id="evalCheck" resultType="int">
select count(*)
from diag_eval
where user_id = #{user_id}
</select>

<!-- 진단 평가 등록 -->
<select id="registerEval">
insert into diag_eval(user_id, school, subject, stu_count, onoff, addr, class_count,
class_time, day_week, private_time, private_date_time, gender, ext_way, say_teacher) 
values(#{user_id}, #{school}, #{subject}, #{stu_count}, #{onoff}, #{addr}, #{class_count},
#{class_time}, #{day_week}, #{private_time}, #{private_date_time}, #{gender}, #{ext_way}, #{say_teacher})
</select>

<delete id="deleteEval">
delete from diag_eval where user_id = #{user_id}
</delete>

<!-- 회원의 진단 평가 기록 조회 -->
<select id="selectEval" resultType="Diag_EvalVO">
select * from diag_eval where user_id = #{user_id}
</select>

<select id="selectExt" resultMap="selectExtMap">
<![CDATA[
select u.user_id AS user_id, u.user_name AS user_name, u.college AS college, 
	u.college_dept AS college_dept, substr(e.ext_id,1,1) AS onoff, 
	substr(e.ext_id,2,1) AS pg, substr(e.ext_id,3,2) AS subject,
	e.class_poss_area AS class_poss_area,
	SUBSTR(e.ext_id,3,2) AS subject, e.tuit_fees AS tuit_fees, e.ext_obj AS ext_obj,
	u.ext_exp AS ext_exp, u.gender AS gender, e.ext_id AS ext_id, u.prof_photo AS prof_photo
	from ext_info e, user_info u 
	where e.user_id = u.user_id
	and e.str_class_date > now() 
	order by e.ext_id > 0
]]>
</select>

<resultMap id="selectExtMap" type="java.util.HashMap">
	<result property="user_id" column="userid"></result>
	<result property="user_name" column="username"></result>
	<result property="onoff" column="onoff"></result>
	<result property="pg" column="pg"></result>
	<result property="subject" column="subject"></result>
	<result property="college" column="college"></result>
	<result property="college_dept" column="college_dept"></result>
	<result property="class_poss_area" column="class_poss_area"></result>
	<result property="subject" column="subject"></result>
	<result property="tuit_fees" column="tuit_fees"></result>
	<result property="ext_obj" column="ext_obj"></result>
	<result property="ext_exp" column="ext_exp"></result>
	<result property="gender" column="gender"></result>
	<result property="ext_id" column="ext_id"></result>
</resultMap>

<!-- 진단 평가 가중치 부여 후 과외 시간표 불러오기 -->
<select id="evalAfterTimetable" resultMap="evalAfterTimetableMap">
<![CDATA[
select ext_id, group_concat(distinct(day_week)) AS day_weeks, 
group_concat(distinct(class_str_time)) AS class_str_time, 
group_concat(distinct(class_end_time)) AS class_end_time
from ext_timetable
where ext_id in 
]]>
	<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
    	#{item}
	</foreach>
<![CDATA[
group by ext_id, day_week
]]>
</select>

<!-- 진단 평가 가중치 부여 후 과외 시간표 불러오기 : Map -->
<resultMap id="evalAfterTimetableMap" type="java.util.HashMap">
	<result property="ext_id" column="ext_id"></result>
	<result property="day_weeks" column="day_weeks"></result>
	<result property="class_str_time" column="class_str_time"></result>
	<result property="class_end_time" column="class_end_time"></result>
</resultMap>
</mapper>