<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="yjc.wdb.Highlighter.testresultMapper">

<insert id="tcreate">
	insert into test_result (prob_id, user_id, date_gaze,stu_result,test_id) values (#{prob_id},#{user_id}, #{date_gaze}, #{stu_result}, #{test_id}) 
</insert>

<select id="stu_answ" resultType="String">
	select stu_result
	from test_result
	where prob_id = #{prob_id}
</select>

<update id="w_answ_note_cont">
	update test_result set w_answ_note_cont=#{w_answ_note_cont}
	where user_id=#{user_id}
	and prob_id=#{prob_id}
</update>

<select id="correctAnswercount" resultType="int">

select count(*)
from test_result a, prob_info b
where a.prob_id = b.prob_id
and a.stu_result = b. prob_answ
and a.user_id =#{user_id}
and a.test_id =#{test_id}
</select>

<select id="WrongNote" resultType="String">
	select w_answ_note_cont
	from test_result
	where prob_id=#{prob_id}
	and user_id=#{user_id}
</select>


	<resultMap id="ListweeksCorrectAnsw" type="java.util.HashMap">
		<!-- <result property="test_id" column="test_id"></result>
		<result property="correctCount" column="correctCount"></result>	 -->
		<result property="user_id" column="user_id"></result>
		<result property="test_id" column="test_id"></result>
		<result property="count" column="count"></result>
		<result property="test_date" column="test_date"></result>
		<result property="wrong_note" column="wrong_note"></result>	
	</resultMap>

	<select id="ListWeeksCorrect" resultMap="ListweeksCorrectAnsw">
		<!-- select SUBSTR(a.test_id,9) AS test_id, count(a.test_id) AS correctCount
		from test_result a, prob_info b,test_info c
		where a.prob_id = b.prob_id
		and c.test_id = b.test_id
		and a.stu_result = b.prob_answ
		and a.user_id = #{user_id}
		and c.ext_id = #{ext_id}
		group by a.test_id -->
		<![CDATA[
		select a.user_id,SUBSTR(a.test_id,9) AS test_id, count(*) AS count, b.test_date, c.user_name,
                (select count(w_answ_note) AS count from test_result where w_answ_note != '' AND test_id = a.test_id AND user_id=#{user_id}) AS wrong_note
                from test_result a, (select b.prob_id, b.prob_answ, t.ext_id, t.test_date from prob_info b, test_info t where b.test_id = t.test_id) b,user_info c
                where a.prob_id = b.prob_id
                and a.user_id=c.user_id
                and a.stu_result = b. prob_answ
                and b.ext_id=#{ext_id}
                and a.user_id=#{user_id}
                group by a.user_id,a.test_id
	]]>
	</select>
	
	<update id="uploadWansNote">
		update test_result set w_answ_note=#{w_answ_note},w_answ_note_cont=#{w_answ_note_cont} where prob_id=#{prob_id} and user_id=#{user_id}
	</update>
	
	
	<resultMap id="selectWansNoteList" type="java.util.HashMap">
		<result property="w_answ_note" column="w_answ_note"></result>
		<result property="w_answ_note_cont" column="w_answ_note_cont"></result>	
	</resultMap>
	<select id="selectWansNote" resultMap="selectWansNoteList">
		select IFNULL(w_answ_note_cont,'null') w_answ_note_cont , IFNULL(w_answ_note,'null') w_answ_note
		from test_result 
		where user_id = #{user_id} and test_id= #{test_id}
		order by prob_id
	</select>
</mapper>