/* Add here all your css styles (customizations) */
#classIntro{
	height: 50px;
	background: #fff;
    position: relative;
    padding: 15px 10px 5px 15px;
    border-radius: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #cfcfcf;
}
.panel-body td:NTH-CHILD(odd){
	color: #336199;
	background-color: #EDF3F4;
	
	
}
#teacherInfo table{
	text-align: center;
	border-bottom-width: 2px;
}
.tableDiv{
	width:100%; 
	height:100%; 
	float:left; 
	clear:both;
}
#base{
	width: 100%; 
	height: 100%; 
	margin-top:0%; 
	margin-left:0%;
}
#base > .line {
	clear: both;
}
#base > .line > .null{ /* calendar table - blank space */
	width:12%; 
	height:4%; 
	border-top:1px solid lightgray;
	border-left:1px solid lightgray;
	border-bottom:1px solid lightgray;
	text-align:right; 
	float: left;
	background-color:#ebf5fb;
	color:#0f366b;
}
#base > .line > .tableColumn{ /* calendar table - time Menu */
	width:12%; 
	height:50px; 
	border-left: 1px solid lightgray; 
	border-bottom: 1px solid lightgray;  
	text-align:center; 
	float: left;
	background-color:#ebf5fb;
	color:#0f366b;
	line-height:50px;
}
#base > .line > .tableRow:not(:last-child){ /* calendar table - week Menu */
	width:12.5%; 
	height:4%; 
	border-top: 1px solid lightgray; 
	border-bottom: 1px solid lightgray; 
	float: left;
	background-color:#ebf5fb;
	color:#0f366b;
	font-weight:bold;
}
#base > .line > .tableRow:last-child{ /* calendar table - week Menu */
	width:12.5%; 
	height:4%; 
	border-top: 1px solid lightgray; 
	border-right: 1px solid lightgray; 
	border-bottom: 1px solid lightgray; 
	float: left;
	background-color:#ebf5fb;
	color:#0f366b;
	font-weight:bold;
}
#base > .line > .block{ /* calendar table - real time */
	width:12.5%; 
	height:50px; 
	border-right: 1px solid lightgray;  
	border-bottom: 1px solid lightgray; 
	float: left;
	text-align:center;
}
.timeActive{
	background-color: #FC9312;
}
.textalign{
	text-align:center;
}

#classGoIn {
	float: right;
	width:90px;
	background-color:#1279ff;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	margin-top:-5px;
	color:white;
	border-radius:5px;
	border:solid 1px #1279ff;
}

#classExit{
	float: right;
	width:90px;
	background-color:#1279ff;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
	margin-top:-5px;
	color:white;
	border-radius:5px;
	border:solid 1px #1279ff;
}

#classIntro span{
	font-size: 20px;
	font-weight: bold;
}
.footer{
	padding:0;
}