#testMenu{
	background-color:#1f3f58;
	height:50px;
	color:white;
	line-height:50px;
	padding-left:30px;
}
#test_title{
	display:inline-block;
	float:left;
}
#test_time{
	display:inline-block;
	padding-left:300px;
}
#testImage{
	width:880px;
	border:1px solid lightgray;
	background-color:black;
	height:730px;
	float:left;
	margin:10px;
}
#answerSheet{
	margin:10px;
	width:350px;
	height:730px;
	float:left;
}
.selectAnswer{
	border:1px solid lightgray;
	margin:10px 40px 10px 40px;
}
.selectAnswer > div{
	display:inline-block;
}
.probNum{
	background-color:lightgray;
	color:white;
	text-weight:bold;
	padding:10px;
}
.selectNum{
	padding:3px 10px 3px 10px;
	border:1px solid lightgray;
	border-radius:15px;
	margin-left:10px;
}
#answerSheetTitle{
	margin:20px;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	color:gray;
	border:1px dotted lightgray;
}
#confirmAnswer{
	margin:20px;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	color:gray;
	border:1px dotted lightgray;
}
#submitTest{
	width:350px;
	height:50px;
	background-color:#1f3f58;
	color:white;
	font-size:20px;
	text-align:center;
	line-height:45px;
}
#answerSheetPlace{
	height:665px;
	margin-bottom:10px;
	display:auto;
	border:1px solid lightgray;
	background-color:white;
	overflow: auto;
}
#time-hour {
	color: #FF0000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

#time-min {
	color: #FF0000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

#time-sec {
	color: #FF0000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}