#alignMatching:hover{
	background-color : rgba(231,76,60,1);
}
#privateSearch:hover{
	background-color : rgba(52,152,219,1);
}
#diagnosticMatching:hover{
	background-color : rgba(155,107,204,1);
}