#alignMatching:hover{
	background-color : rgba(155,107,204,1);
}
#privateSearch:hover{
	background-color : rgba(52,152,219,1);
}
#diagnosticMatching:hover{
	background-color : rgba(231,76,60,1);
	
}
.recommend{
	font-size:30px;
	text-shadow: 2px 2px 2px gray;
}
.cantMatching{
	color:lightgray;
	height:500px;
	padding-top:100px;
	padding-bottom:100px;
}