// ... 기존 코드
// turn.js 불러오는 스크립트 위에 다음 줄들 추가: 여기부터
script(src='/socket.io/socket.io.js')
script.
  var socket = io.connect('http://localhost:8080');
  var scores = [];
  function updateScoreboard(scores) {
    var scoreboard = document.getElementById('scoreboard');
    scoreboard.innerHTML = '';
    var frag = document.createDocumentFragment();
    for (var i = 0; i < scores.length; i++) {
      var div = document.createElement('div');
      var name = document.createElement('b');
      var lev = document.createElement('span');
      name.innerHTML = scores[i].name;
      lev.innerHTML = scores[i].lev;
      div.appendChild(name);
      div.appendChild(lev);
      frag.appendChild(div);
    }
    scoreboard.appendChild(frag);
  }
  socket.on('newScoreToClient', function (data) {
    scores.push(data);
    updateScoreboard(scores);
  });
// 여기까지 추가
script(src='turn.js')